body {
  background-color: #71c05a;
}

.App {
   background-color: white;
    min-height: 80vh;
    width: 600px;
    margin: 40px auto;
}

input {
  border: 1px solid #fef4b9;
  width: 200px;
  padding: 10px;
  text-align: center;
}

.container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.btn-add {
  background: #65aa06;
  margin-top: 5px;
}

.btn-delete {
  background: #d30100;
  margin-bottom: 5px;
}

.btn {
margin-top: 5px;
padding: 10px;
border: none;
width: 70%;
color: white;
font-size: 16px;
}

li {
  list-style-type: none;
  padding: 4px;
  margin: 0;
  background-color: #fef4b9;
  border-bottom: 1px solid gray;
}

ul {
  background-color: #fef4b9;
  padding-left: 0;
  
}

.crossedItem {
  background-color:white;
  text-decoration: line-through 2px red;
}

.imageOne {
  padding-top: 50px;
}

@media all and (max-width: 700px) {
  .App{
    width: 350px;
  }
}